@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

html, body{
    height: 140vh;
}

#container {
    height: 140vh;
    background-image: url("bg_netflix.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#black {
    height: 140vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.450);
}

#form form{
    color: white;
    background-color: rgba(0, 0, 0, 0.723);
    width: 450px;
    height: 600px;
}

.form-control{
    background-color: #333333c4;
    height: 1rem;
    padding: 24px;
    color: white !important;
    border: none !important;
}

input::placeholder{
    color: #979797c4 !important;
    font-size: 14px;
}

form button{
    background-color: #E50914 !important;
    margin: 36px 0px 16px 0px;
    width: 100%;
    min-height: 50px;

    font-size: 18px !important;
    font-weight: bold !important;
}

#help a{
    color: #737361;
    font-size: 14px !important;
    text-decoration: none !important;
}

#help a:hover{
    text-decoration: underline !important;
}

#help label,
h2,
h5{
    color: #909898 !important;
    font-size: 12px !important;
}

#assine{
    color: white;
    font-size: 12px !important;
    text-decoration: none !important;
}

#assine:hover,
#form a:hover{
    text-decoration: underline !important;
}

#form a{
    text-decoration: none !important;
}

.nav-item a{
    color: #909898 !important;
}

.nav-item a:hover{
    text-decoration: underline;
}

.dropdown button{
    background-color: #000000;
}

#icon{
    margin-left: 6px;
    margin-right: 16px;
}


@media only screen and (max-width: 770px) {
#form form{
    padding: 26px;
    height: 300px;
    width: 400px;
}}


footer{
    height: 40vh;
    width: 100%;
    bottom: -40vh;
    background-color:rgba(0, 0, 0, 0.823);
}

#down-side{
    width: 60%;
}

footer ul {
    font-size: 12px;
    padding: 0;
}

.dropdown button {
    color: #737361;
}
